<p id="notice"><%= notice %></p>

<h1>Reserves</h1>

<table>
  <thead>
    <tr>
      <th>Id reserve</th>
      <th>Date entry</th>
      <th>Date out</th>
      <th>Amount pay</th>
      <th>Car</th>
      <th>Parking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserf| %>
      <tr>
        <td><%= reserf.id_reserve %></td>
        <td><%= reserf.date_entry %></td>
        <td><%= reserf.date_out %></td>
        <td><%= reserf.amount_pay %></td>
        <td><%= reserf.car %></td>
        <td><%= reserf.parking %></td>
        <td><%= link_to 'Show', reserf %></td>
        <td><%= link_to 'Edit', edit_reserf_path(reserf) %></td>
        <td><%= link_to 'Destroy', reserf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserf', new_reserf_path %>
