<p id="notice"><%= notice %></p>

<h1>Parkings</h1>

<table>
  <thead>
    <tr>
      <th>Id parking</th>
      <th>Address</th>
      <th>Name</th>
      <th>Number</th>
      <th>Pricing hour</th>
      <th>Image one</th>
      <th>Image two</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.id_parking %></td>
        <td><%= parking.address %></td>
        <td><%= parking.name %></td>
        <td><%= parking.number %></td>
        <td><%= parking.pricing_hour %></td>
        <td><%= parking.image_one %></td>
        <td><%= parking.image_two %></td>
        <td><%= link_to 'Show', parking %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
        <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking', new_parking_path %>
